.bg-f8{background: #f8f8f8;}

.showSuccess{position: fixed;top: 50%;left:30%;height: 50px;line-height: 50px;width: 40%;margin: -25px -10% 0 0;color: #0d8aee;background: #0d8aee;text-align: center;border-radius: 5px;color: #fff;display: none;}
